<a href="https://colab.research.google.com/github/parasgulati8/Web-Scraper/blob/master/scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import glob
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup as bs
# import urllib3
import requests
# import json
# from urllib.request import urlopen, urlretrieve, quote
# from openpyxl import Workbook
import re

In [0]:
page = requests.get('http://www.padctn.org/prc/property/1/card/1/historical')

In [0]:
soup = bs(page.text, 'html.parser')
# u = urlopen(site)

In [7]:
soup.h2.text

'Historical Details - Map & Parcel 001 00 0 001.00'

In [18]:
' '.join(parcel.split()[6:])

'001 00 0 001.00'

In [41]:
url = 'http://www.padctn.org/prc/property/1/card/1/historical'
page = requests.get(url)
soup = bs(page.text, 'html.parser')
parcel = soup.h2.text[34:]
# parcel = ' '.join(parcel.split()[6:])
df = pd.read_html(requests.get(url,  headers={'User-agent': 'Mozilla/5.0'}).text,
                      attrs={"class":"table table-condensed table-bordered"})[0]

df['Parcel'] = [parcel]*len(df)
df

    Sale Date Sale Price           Deed Type  Deed Book & Page           Parcel
0  12/05/2006     $7,500  DEED OF CORRECTION  20110805-0060547  001 00 0 001.00
1  12/05/2006     $7,500       WARRANTY DEED  20070109-0003943  001 00 0 001.00
2  09/15/1965         $0       WARRANTY DEED  00000137-0000216  001 00 0 001.00

In [39]:
parcel[34:]

'001 00 0 001.00'

In [33]:
re.findall(r'\d+', parcel)

['001 ', '00 ', '0 ']

In [0]:
table = soup.table

In [0]:
table

<table class="table table-condensed table-bordered">
<tr><th>Sale Date</th><th>Sale Price</th><th>Deed Type</th><th>Deed Book &amp; Page</th></tr>
<tr><td>12/05/2006</td><td>$7,500</td><td>DEED OF CORRECTION</td><td>20110805-0060547</td></tr>
<tr><td>12/05/2006</td><td>$7,500</td><td>WARRANTY DEED</td><td>20070109-0003943</td></tr>
<tr><td>09/15/1965</td><td>$0</td><td>WARRANTY DEED</td><td>00000137-0000216</td></tr>
</table>

In [0]:
rows = table.find_all('tr')

In [0]:
rows

[<tr><th>Sale Date</th><th>Sale Price</th><th>Deed Type</th><th>Deed Book &amp; Page</th></tr>,
 <tr><td>12/05/2006</td><td>$7,500</td><td>DEED OF CORRECTION</td><td>20110805-0060547</td></tr>,
 <tr><td>12/05/2006</td><td>$7,500</td><td>WARRANTY DEED</td><td>20070109-0003943</td></tr>,
 <tr><td>09/15/1965</td><td>$0</td><td>WARRANTY DEED</td><td>00000137-0000216</td></tr>]

In [0]:
tuples = []
for tr in rows:
  td = tr.find_all('td')
  th = tr.find_all('th')
  print(th)
  print([i.text for i in th])
  # row = [i.text for i in th]
  # tuples.append([i.text for i in th])
  # if row:
    # print(row)
    # tuples.append(row)

[<th>Sale Date</th>, <th>Sale Price</th>, <th>Deed Type</th>, <th>Deed Book &amp; Page</th>]
['Sale Date', 'Sale Price', 'Deed Type', 'Deed Book & Page']
[]
[]
[]
[]
[]
[]

In [0]:
tuples

[['12/05/2006', '$7,500', 'DEED OF CORRECTION', '20110805-0060547'],
 ['12/05/2006', '$7,500', 'WARRANTY DEED', '20070109-0003943'],
 ['09/15/1965', '$0', 'WARRANTY DEED', '00000137-0000216']]

In [0]:
import pandas as pd

In [0]:
url = 'http://www.padctn.org/prc/property/1/card/1/historical'
dfs = pd.read_html(requests.get(url,  headers={'User-agent': 'Mozilla/5.0'}).text,
                      attrs={"class":"table table-condensed table-bordered"})

In [0]:
dfs[1]

    Year  Land Use Code Building Yard Items Land Value Category    Total
0   2017   0AR - AG/RES       $0         $0    $10,621      INF  $10,621
1   2017   0AR - AG/RES       $0         $0    $10,621     ROLL  $10,621
2   2013  0RA - RES/AGR       $0         $0     $8,565      INF   $8,565
3   2013  0RA - RES/AGR       $0         $0     $8,565     ROLL   $8,565
4   2009  0RA - RES/AGR       $0         $0     $6,909      INF   $6,909
5   2009  0RA - RES/AGR       $0         $0     $6,909     ROLL   $6,909
6   2008  0RA - RES/AGR       $0         $0     $5,572     JUNE   $5,572
7   2008  0RA - RES/AGR       $0         $0     $5,572     ROLL   $5,572
8   2005      E80 - EXE       $0         $0    $25,800     ROLL  $25,800
9   2001      E80 - EXE       $0         $0    $22,800     ROLL  $22,800
10  2000      E80 - EXE       $0         $0    $16,100     ROLL  $16,100
11  1999      E80 - EXE       $0         $0    $16,100     ROLL  $16,100

In [44]:
url = 'http://www.padctn.org/prc/property/1/card/1/historical'
page = requests.get(url)
soup = bs(page.text, 'html.parser')
parcel = soup.h2.text
parcel = ' '.join(parcel.split()[6:])
df = pd.read_html(requests.get(url,  headers={'User-agent': 'Mozilla/5.0'}).text,
                      attrs={"class":"table table-condensed table-bordered"})[0]

df['Parcel'] = [parcel]*len(df)
df['Property #'] = [1]*len(df)
i = 2
while True:
  url = 'http://www.padctn.org/prc/property/' + str(i) + '/card/' + str(i) + '/historical'
  page = requests.get(url)
  soup = bs(page.text, 'html.parser')
  parcel = soup.h2.text[34:]
  # parcel = ' '.join(parcel.split()[6:])
  
  dfs = pd.read_html(requests.get(url,  headers={'User-agent': 'Mozilla/5.0'}).text,
                        attrs={"class":"table table-condensed table-bordered"})
  dfs[0]['Parcel'] = [parcel]*len(dfs[0])
  dfs[0]['Property #'] = [i]*len(dfs[0])


  print(i, end=' ')
  if np.any(dfs[0]) or np.any(dfs[1]):
    df = pd.concat([df, dfs[0]] )
    i = i+1
  else:
    print ('Table Empty, Exiting...')
    print (table)
    break
  if i % 10 == 1:
    print()
  # time.sleep(3)

2 3 4 5 6

KeyboardInterrupt: ignored

In [45]:
df

    Sale Date Sale Price  ...               Parcel Property #
0  12/05/2006     $7,500  ...      001 00 0 001.00          1
1  12/05/2006     $7,500  ...      001 00 0 001.00          1
2  09/15/1965         $0  ...      001 00 0 001.00          1
0  05/17/1983    $12,500  ...      001 00 0 002.00          2
1  01/06/1972         $0  ...      001 00 0 002.00          2
2  01/06/1972         $0  ...      001 00 0 002.00          2
0  12/18/1997    $67,000  ...      002 00 0 001.00          3
1  07/29/1997    $50,000  ...      002 00 0 001.00          3
2  04/13/1994     $8,000  ...      002 00 0 001.00          3
3  10/27/1977    $23,000  ...      002 00 0 001.00          3
4  04/23/1976    $20,000  ...      002 00 0 001.00          3
5  07/29/1963         $0  ...      002 00 0 001.00          3
0  12/18/1997    $67,000  ...  002 00 0 001.00 001          4
1  07/29/1997    $50,000  ...  002 00 0 001.00 001          4
2  04/13/1994     $8,000  ...  002 00 0 001.00 001          4
3  10/27/1977         $0  ...  002 00 0 001.00 001          4
0  12/18/1997    $67,000  ...  002 00 0 001.00 002          5
1  07/29/1997    $50,000  ...  002 00 0 001.00 002          5
2  04/13/1994     $8,000  ...  002 00 0 001.00 002          5
3  10/27/1977         $0  ...  002 00 0 001.00 002          5
0  09/05/2014    $50,000  ...      002 00 0 002.00          6
1  04/23/2002    $25,000  ...      002 00 0 002.00          6
2  02/28/1990    $67,800  ...      002 00 0 002.00          6
3  01/28/1958         $0  ...      002 00 0 002.00          6

[24 rows x 6 columns]

In [46]:
df.reset_index()

    index   Sale Date  ...               Parcel Property #
0       0  12/05/2006  ...      001 00 0 001.00          1
1       1  12/05/2006  ...      001 00 0 001.00          1
2       2  09/15/1965  ...      001 00 0 001.00          1
3       0  05/17/1983  ...      001 00 0 002.00          2
4       1  01/06/1972  ...      001 00 0 002.00          2
5       2  01/06/1972  ...      001 00 0 002.00          2
6       0  12/18/1997  ...      002 00 0 001.00          3
7       1  07/29/1997  ...      002 00 0 001.00          3
8       2  04/13/1994  ...      002 00 0 001.00          3
9       3  10/27/1977  ...      002 00 0 001.00          3
10      4  04/23/1976  ...      002 00 0 001.00          3
11      5  07/29/1963  ...      002 00 0 001.00          3
12      0  12/18/1997  ...  002 00 0 001.00 001          4
13      1  07/29/1997  ...  002 00 0 001.00 001          4
14      2  04/13/1994  ...  002 00 0 001.00 001          4
15      3  10/27/1977  ...  002 00 0 001.00 001          4
16      0  12/18/1997  ...  002 00 0 001.00 002          5
17      1  07/29/1997  ...  002 00 0 001.00 002          5
18      2  04/13/1994  ...  002 00 0 001.00 002          5
19      3  10/27/1977  ...  002 00 0 001.00 002          5
20      0  09/05/2014  ...      002 00 0 002.00          6
21      1  04/23/2002  ...      002 00 0 002.00          6
22      2  02/28/1990  ...      002 00 0 002.00          6
23      3  01/28/1958  ...      002 00 0 002.00          6

[24 rows x 7 columns]

In [0]:
import numpy as np

In [0]:
url = 'http://www.padctn.org/prc/property/1000000/card/1000000/historical'
t = pd.read_html(requests.get(url,  headers={'User-agent': 'Mozilla/5.0'}).text,
                      attrs={"class":"table table-condensed table-bordered"})[0]
if np.any(t):
  print(t)
else:
  print('no data')

no data

In [0]:
import time

In [0]:
print('before')
time.sleep(3)
print('after')

before
after