<a href="https://colab.research.google.com/github/parasgulati8/Web-Scraper/blob/master/scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import glob
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup as bs
# import urllib3
import requests
# import json
# from urllib.request import urlopen, urlretrieve, quote
# from openpyxl import Workbook
import re

In [0]:
# Property Summary Page
url = 'http://www.padctn.org/prc/property/1/card/0'
page = requests.get(url)
soup = bs(page.text, 'html.parser')
lists = soup.find_all('ul', attrs={'class':'att'})
table = dict()
for i in range(len(lists)):
  lists[i] = lists[i].find_all('li')
  lists[i] = [item.text for item in lists[i]]
  lists[i] = [lists[i][j].split(': ') for j in range(len(lists[i]))]
  for pair in lists[i]:
    key , value = pair
    table[key] = value

index = 1
property_summary = pd.DataFrame(table, index=[index])

# Historical data
url = 'http://www.padctn.org/prc/property/1/card/1/historical'
page = requests.get(url)
soup = bs(page.text, 'html.parser')
parcel = soup.h2.text
parcel = ' '.join(parcel.split()[6:])
dfs = pd.read_html(requests.get(url,  headers={'User-agent': 'Mozilla/5.0'}).text,
                      attrs={"class":"table table-condensed table-bordered"})
sales_history, previous_appraisals = dfs[0], dfs[1]
sales_history['Map & Parcel'] = [parcel]*len(sales_history)
sales_history['Property #'] = [1]*len(sales_history)
previous_appraisals['Map & Parcel'] = [parcel]*len(previous_appraisals)
previous_appraisals['Property #'] = [1]*len(previous_appraisals)

# adding the parcel to property summary table
if property_summary.iloc[-1, 0] == '':
  property_summary.iloc[-1,0] = parcel

# Building and Improvement Details Page
url = 'http://www.padctn.org/prc/property/1/card/0/interior'
page = requests.get(url)
soup = bs(page.text, 'html.parser')
lists = (soup.find_all('ul', attrs={'class':'att'}))
table = dict()
for i in range(len(lists)):
  lists[i] = lists[i].find_all('li')
  lists[i] = [item.text for item in lists[i]]
  lists[i] = [lists[i][j].split(': ') for j in range(len(lists[i]))]
  for pair in lists[i]:
    key , value = pair
    table[key] = value

temp_table = pd.DataFrame(table, index=[0])
temp_table['Map & Parcel'] = [parcel]
dfs = pd.read_html(requests.get(url,  headers={'User-agent': 'Mozilla/5.0'}).text)
building_footage, building_features = dfs[0], dfs[1]
building_features['Map & Parcel'] = [parcel]*(1 if len(building_features) == 0 else len(building_features))
building_footage['Map & Parcel'] = [parcel]*len(building_footage)

merged = pd.merge(building_footage, building_features, on='Map & Parcel')
building_improvement = pd.merge(merged, temp_table, on='Map & Parcel')

index = index+1

In [68]:
while True:
  # Property Summary Page
  url = 'http://www.padctn.org/prc/property/' + str(index) + '/card/0'
  page = requests.get(url)
  soup = bs(page.text, 'html.parser')
  lists = soup.find_all('ul', attrs={'class':'att'})
  table = dict()
  for i in range(len(lists)):
    lists[i] = lists[i].find_all('li')
    lists[i] = [item.text for item in lists[i]]
    lists[i] = [lists[i][j].split(': ') for j in range(len(lists[i]))]
    for pair in lists[i]:
      key , value = pair
      table[key] = value
  
  summary = pd.DataFrame(table, index=[index])
  property_summary = pd.concat((property_summary,summary))


  # Historical data
  url = 'http://www.padctn.org/prc/property/' + str(index) + '/card/1/historical'
  page = requests.get(url)
  soup = bs(page.text, 'html.parser')
  parcel = soup.h2.text[34:]
  
  dfs = pd.read_html(requests.get(url,  headers={'User-agent': 'Mozilla/5.0'}).text,
                        attrs={"class":"table table-condensed table-bordered"})
  dfs[0]['Map & Parcel'] = [parcel]*len(dfs[0])
  dfs[0]['Property #'] = [index]*len(dfs[0])
  dfs[1]['Map & Parcel'] = [parcel]*len(dfs[1])
  dfs[1]['Property #'] = [index]*len(dfs[1])

  if property_summary.iloc[-1, 0] == '':
    property_summary.iloc[-1,0] = parcel
  print(index, end=' ')
  if np.any(dfs[0]) or np.any(dfs[1]):
    sales_history = pd.concat([sales_history, dfs[0]])
    previous_appraisals = pd.concat([previous_appraisals, dfs[1]])
  else:
    print ('Table Empty, Exiting...')
    print (table)
    break

  # Building and Improvements Details
  url = 'http://www.padctn.org/prc/property/' + str(index) +'/card/0/interior'
  page = requests.get(url)
  soup = bs(page.text, 'html.parser')
  lists = (soup.find_all('ul', attrs={'class':'att'}))
  table = dict()
  for i in range(len(lists)):
    lists[i] = lists[i].find_all('li')
    lists[i] = [item.text for item in lists[i]]
    lists[i] = [lists[i][j].split(': ') for j in range(len(lists[i]))]
    for pair in lists[i]:
      key , value = pair
      table[key] = value

  temp_table = pd.DataFrame(table, index=[0])
  temp_table['Map & Parcel'] = [parcel]
  dfs = pd.read_html(requests.get(url,  headers={'User-agent': 'Mozilla/5.0'}).text)
  building_footage, building_features = dfs[0], dfs[1]
  building_features['Map & Parcel'] = [parcel]*(1 if len(building_features) == 0 else len(building_features))
  building_footage['Map & Parcel'] = [parcel]*len(building_footage)

  merged = pd.merge(building_footage, building_features, on='Map & Parcel')
  building_details = pd.merge(merged, temp_table, on='Map & Parcel')
  building_improvement = pd.concat([building_improvement, building_details])

  if index % 10 == 1:
    print()
  # time.sleep(3)
  if index == 5:
    break
  index = index+1

2 3 4 5

In [69]:
property_summary

          Map & Parcel Location  ... Number of Half Bath Number of Fixtures
1      001 00 0 001.00           ...
2      001 00 0 002.00           ...
3      002 00 0 001.00           ...
4  002 00 0 001.00 001           ...
5  002 00 0 001.00 002           ...

[5 rows x 32 columns]

In [70]:
sales_history

    Sale Date Sale Price  ...         Map & Parcel Property #
0  12/05/2006     $7,500  ...      001 00 0 001.00          1
1  12/05/2006     $7,500  ...      001 00 0 001.00          1
2  09/15/1965         $0  ...      001 00 0 001.00          1
0  05/17/1983    $12,500  ...      001 00 0 002.00          2
1  01/06/1972         $0  ...      001 00 0 002.00          2
2  01/06/1972         $0  ...      001 00 0 002.00          2
0  12/18/1997    $67,000  ...      002 00 0 001.00          3
1  07/29/1997    $50,000  ...      002 00 0 001.00          3
2  04/13/1994     $8,000  ...      002 00 0 001.00          3
3  10/27/1977    $23,000  ...      002 00 0 001.00          3
4  04/23/1976    $20,000  ...      002 00 0 001.00          3
5  07/29/1963         $0  ...      002 00 0 001.00          3
0  12/18/1997    $67,000  ...  002 00 0 001.00 001          4
1  07/29/1997    $50,000  ...  002 00 0 001.00 001          4
2  04/13/1994     $8,000  ...  002 00 0 001.00 001          4
3  10/27/1977         $0  ...  002 00 0 001.00 001          4
0  12/18/1997    $67,000  ...  002 00 0 001.00 002          5
1  07/29/1997    $50,000  ...  002 00 0 001.00 002          5
2  04/13/1994     $8,000  ...  002 00 0 001.00 002          5
3  10/27/1977         $0  ...  002 00 0 001.00 002          5

[20 rows x 6 columns]

In [71]:
previous_appraisals

    Year  Land Use Code Building  ...    Total         Map & Parcel Property #
0   2017   0AR - AG/RES       $0  ...  $10,621      001 00 0 001.00          1
1   2017   0AR - AG/RES       $0  ...  $10,621      001 00 0 001.00          1
2   2013  0RA - RES/AGR       $0  ...   $8,565      001 00 0 001.00          1
3   2013  0RA - RES/AGR       $0  ...   $8,565      001 00 0 001.00          1
4   2009  0RA - RES/AGR       $0  ...   $6,909      001 00 0 001.00          1
5   2009  0RA - RES/AGR       $0  ...   $6,909      001 00 0 001.00          1
6   2008  0RA - RES/AGR       $0  ...   $5,572      001 00 0 001.00          1
7   2008  0RA - RES/AGR       $0  ...   $5,572      001 00 0 001.00          1
8   2005      E80 - EXE       $0  ...  $25,800      001 00 0 001.00          1
9   2001      E80 - EXE       $0  ...  $22,800      001 00 0 001.00          1
10  2000      E80 - EXE       $0  ...  $16,100      001 00 0 001.00          1
11  1999      E80 - EXE       $0  ...  $16,100      001 00 0 001.00          1
0   2017   0AR - AG/RES       $0  ...  $16,323      001 00 0 002.00          2
1   2017   0AR - AG/RES       $0  ...  $16,323      001 00 0 002.00          2
2   2013  0RA - RES/AGR       $0  ...  $13,163      001 00 0 002.00          2
3   2013  0RA - RES/AGR       $0  ...  $13,163      001 00 0 002.00          2
4   2011  0RA - RES/AGR       $0  ...  $10,618      001 00 0 002.00          2
5   2011  0RA - RES/AGR       $0  ...  $10,618      001 00 0 002.00          2
6   2009  0RA - RES/AGR       $0  ...  $10,618      001 00 0 002.00          2
7   2009  0RA - RES/AGR       $0  ...  $10,618      001 00 0 002.00          2
8   2009  0RA - RES/AGR       $0  ...  $10,618      001 00 0 002.00          2
9   2009  0RA - RES/AGR       $0  ...  $10,618      001 00 0 002.00          2
10  2008  0RA - RES/AGR       $0  ...   $8,562      001 00 0 002.00          2
11  2007    R80 - RURAL       $0  ...   $9,100      001 00 0 002.00          2
12  2005    R80 - RURAL       $0  ...  $13,600      001 00 0 002.00          2
13  2005    R80 - RURAL       $0  ...  $15,100      001 00 0 002.00          2
14  2001    R80 - RURAL       $0  ...  $13,300      001 00 0 002.00          2
15  2001    R80 - RURAL       $0  ...  $26,700      001 00 0 002.00          2
16  2000    R80 - RURAL       $0  ...  $18,800      001 00 0 002.00          2
17  1999    R80 - RURAL       $0  ...  $18,800      001 00 0 002.00          2
0   2017      E81 - EXE       $0  ...       $0      002 00 0 001.00          3
1   2013      E81 - EXE       $0  ...       $0      002 00 0 001.00          3
2   2009      E81 - EXE       $0  ...       $0      002 00 0 001.00          3
3   2005      E81 - EXE       $0  ...       $0      002 00 0 001.00          3
4   2001      E81 - EXE       $0  ...       $0      002 00 0 001.00          3
5   2000      R11 - RES       $0  ...       $0      002 00 0 001.00          3
6   1999      R11 - RES       $0  ...       $0      002 00 0 001.00          3
0   2017      E81 - EXE  $34,100  ...  $47,100  002 00 0 001.00 001          4
1   2013      E81 - EXE  $26,900  ...  $39,900  002 00 0 001.00 001          4
2   2009      E81 - EXE  $26,100  ...  $40,300  002 00 0 001.00 001          4
3   2005      E81 - EXE  $26,100  ...  $36,800  002 00 0 001.00 001          4
4   2001      E81 - EXE  $28,400  ...  $37,900  002 00 0 001.00 001          4
5   2000      E81 - EXE  $28,600  ...  $35,900  002 00 0 001.00 001          4
6   2000    R81 - RURAL  $28,200  ...  $35,900  002 00 0 001.00 001          4
7   1999      E81 - EXE  $28,600  ...  $35,900  002 00 0 001.00 001          4
8   1999    R81 - RURAL  $28,200  ...  $35,900  002 00 0 001.00 001          4
0   2017      E80 - EXE       $0  ...  $27,400  002 00 0 001.00 002          5
1   2013      E80 - EXE       $0  ...  $25,300  002 00 0 001.00 002          5
2   2009      E80 - EXE       $0  ...  $25,300  002 00 0 001.00 002          5
3   2005      E80 - EXE       $0  ...  $19,000  002 00 0 001.00 002          5
4   2001      E80 - EXE       $0  ...  $14,800  002 00 0 001.00 002          5
5   2000      E80 - EXE       $0  ...  $12,100  002 00 0 001.00 002          5
6   2000    R80 - RURAL       $0  ...  $12,100  002 00 0 001.00 002          5
7   1999      E80 - EXE       $0  ...  $12,100  002 00 0 001.00 002          5
8   1999    R80 - RURAL       $0  ...  $12,100  002 00 0 001.00 002          5

[55 rows x 9 columns]

In [72]:
building_improvement

  Sub Area *  Sketched Area  ...  Number of Half Bath Number of Fixtures
0      Total              0  ...
0      Total              0  ...
0      Total              0  ...
0      Total              0  ...
0      Total              0  ...

[5 rows x 21 columns]

In [0]:
property_summary.to_csv('Property Summary.csv')
sales_history.to_csv('Sales History.csv')
previous_appraisals.to_csv('Previous Appraisals.csv')
building_improvement.to_csv('Building Improvement.csv')

In [75]:
ls

'Building Improvement.csv'  'Property Summary.csv'   sample_data/
'Previous Appraisals.csv'   'Sales History.csv'

In [73]:
index

5